<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_article.nil? ? 'Cole Codes Cool Code' : current_article.title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "main" %>
    <%= display_meta_tags %>
  </head>
  <body>
    <center>
      <% link_to '/' do %>
        <%= image_tag 'cool.png', class: 'header' %>
      <% end %>
    </center>

    <div id="main" role="main">
      <%= yield %>
    </div>

    <aside>
      <p><div id="contact">
        <%= link_to "Cole Willsea", "http://colewillsea.com/" %>
        (<%= link_to "gh", "https://github.com/coleww" %>)
        (<%= link_to "twtr", "https://twitter.com/colewillsea" %>)
      </div></p>
      <h2>RECENT BLAGZ</h2>
      <ol>
        <% blog.articles.each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

    </aside>
    <%= google_analytics_tag %>
  </body>
</html>
